.widgetArea {
    width: 100%;
    padding: 20px;

}
.widgetAreaTitle {
    font-size: 20px;
    font-weight: 600;
    color: var(--primary-text-color);
}
.articleItem {
    width: 290px;
    display: flex;
    margin-bottom: 15px;
}
.media {
    width: 200px;
    position: relative;
   
    &:after {
        content: '';
        display: block;
        padding-top: 100%;
        padding-top: 75%;
    }
}
.mediaContent {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 0;
    border-radius: 2px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: rgba(120, 120, 120, 0.1);
}
.statement {
    font-size: 14px;
    margin-bottom: 20px;
    padding: 8px 16px;
    background-color: var(--blackground-color);
    border-radius: 3px;
    border: 1px solid #e5e5e5;
    color: var(--primary-text-color);
}
.articleItemRight {
    width: 200px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-left: 10px;
}
.articleTitle {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 14px;
    color: var(--primary-text-color);
}
.articleTime {
    font-size: 13px;
    color: var(--secondary-text-color);
    margin-top: 15px;
}
